<% @feedbacks.each do |f| %>
	<div id="">
		<%= f.heading %><br />
		<%= f.feedback_content %>
		<%= render 'vote_downvote', id: f.id, type: "Feedback" %>
		<div id="vote-count-feedback"><%= pluralize (f.votes.count - f.downvotes.count), 'vote' %></div>
	</div>
<% end %>
