<% @feedbacks.each do |f| %>
	<div id="">
		<%= f.heading %><br />
		<%= f.feedback_content %>
		<div id="vote-feedback"><%= render 'votes/votes', id: f.id, type: "Feedback" %></div>
		<div id="vote-count-feedback"><%= pluralize f.votes.count, 'vote' %></div>
	</div>
<% end %>
