<div class="container">
  <div class="row">
    <div class="col-lg-6" style="float:none !important; margin:0 auto;">
      <div class="well">
          <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'bs-example form-horizontal' }) do |f| %>
            <legend>Resend confirmation instructions</legend>
            <div class="form-group">
                <div class="col-lg-10">
                  <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Enter your Email' %></div>
                  <div class="col-lg-10" style="margin-top: 20px;"><%= f.submit "Resend confirmation instructions", class: 'btn btn-default' %></div>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
      </div>
    </div> <!-- End col -->
  </div><!-- end row -->
</div> <!-- End container -->