<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @user.name %>
    <p>
      <%= @content %>
    </p>
    <p>Thanks for your feedback and have a great day!</p>
  </body>
</html>