<% if remotipart_submitted? %>
	<% if @feedback.save %>
		<% @feedback.send_mail(@feedback.user) %>
		window.location.href = '<%= root_url %>'
	<% else %>
		$("#error").html("<div class='alert fade in alert-danger'><%= @feedback.errors.full_messages.first %>"+
      		"<button class='close' data-dismiss='alert'>×</button></div>");	
	<% end %>
<% else %>
	$("#error").html("<div class='alert fade in alert-danger'>Please upload some image"+
      		"<button class='close' data-dismiss='alert'>×</button></div>");	
<% end %>